<div class="adminBox">
    <form class="form-inline advancedSearchForm" name="admin" ng-submit="adminfunc()">
            <div class="form-group advancedSearchInputs">
               <input ng-model="adminMail" type="text" class="form-control" ng-model="mail" placeholder="Enter Email" style="width:440px;">
            </div>
            <div class="form-group advancedSearchInputs">
                <input ng-model="adminPassword" type="text" class="form-control" ng-model="password" placeholder="Enter Password" style="width:440px;">
            </div>
            <input type="submit" value="Login" class="btn btn-warning" style="width:480px;margin-top: 35px;height: 30px;margin-left: 7px;"></input>
    </form>
</div>